.production
	padding: 40px 0
	.production_razdel
		display: flex
		flex-direction: column
		align-items: center
		margin-bottom: 3rem
		padding: 20px 20px 0
		max-width: 190px
		background: #FFF
		box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.15)
		.razdel-icon
			display: block
			width: 102px
			height: 102px
		.h4
			margin: 18px 0
			font-size: 15px
			line-height: 138%
			text-align: center
			color: #014289

.hide-production
	display: inline-block
	width: 100%
	text-align: right
	margin: 0 0 30px
	padding: 0
	color: #014289
	text-decoration: none

.product-item
	position: relative
	display: flex
	flex-direction: column
	align-items: start
	margin-bottom: 30px
	padding: 30px
	background-color: rgba(1, 66, 137, 0.05)
	color: #014289
	transition: scale 0.3s
	.product-title
		font-size: 30px
		font-family: PT Sans Caption
		font-style: normal
		font-weight: 400
		margin: 0
	.status-block
		margin: 14px 0
		display: flex
		flex-wrap: wrap
		position: relative
		width: 100%
		justify-content: start
		.status
			min-width: 88px
			margin: 0 0.5rem 1rem
			padding: 4px 8px
			border-radius: 4px
			color: #fff
			font-size: 0.8rem
			text-align: center
		.prod-content
			background-color: #1fe000
		.prod-action
			background-color: #e00000
		.prod-lider
			background-color: #008fe0
	.product-image
		margin: 20px auto
		display: inline-block
		text-align: center
		max-width: 280px
	.product-param
		margin: 14px 0
		display: flex
		position: relative
		width: 100%
		justify-content: space-between
		line-height: 130%
	&:hover
		color: #014289
		scale: 1.05
